MDEIsolate/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Condition_3": {
                        "actions": {
                            "Actions_-_Get_list_of_machine_actions": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "wdatp"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/api/machineactions",
                                    "queries": {
                                        "$filter": "machineId eq '@{body('Machines_-_Get_single_machine')?['id']}' and (type eq 'Isolate' or type eq 'Unisolate')",
                                        "$top": 1
                                    }
                                },
                                "runAfter": {
                                    "Scope": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Condition_4": {
                                "actions": {
                                    "Actions_-_Isolate_machine_2": {
                                        "inputs": {
                                            "body": {
                                                "Comment": "Automation - On Demand Isolation with Teams Adaptive Card - Initiated By @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}",
                                                "IsolationType": "Full"
                                            },
                                            "host": {
                                                "connection": {
                                                    "referenceName": "wdatp"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    },
                                    "Post_message_in_a_chat_or_channel_6": {
                                        "inputs": {
                                            "body": {
                                                "messageBody": "<p>On Demand Unisolation - <span style=\"color: rgb(65,168,95)\">Successful</span><br>\nUnisolated Device: @{body('Machines_-_Get_single_machine')?['computerDnsName']}<br>\nInitiated By: @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}</p>",
                                                "recipient": {
                                                    "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                                    "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                                }
                                            },
                                            "host": {
                                                "connection": {
                                                    "referenceName": "teams"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                        },
                                        "runAfter": {
                                            "Actions_-_Isolate_machine_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "For_each_2": {
                                            "actions": {
                                                "Condition_5": {
                                                    "actions": {
                                                        "Post_message_in_a_chat_or_channel_2": {
                                                            "inputs": {
                                                                "body": {
                                                                    "messageBody": "<p><span style=\"color: rgb(251,160,38)\">Device with Computer Name </span><span style=\"color: rgb(251,160,38)\">@{body('Machines_-_Get_single_machine')?['computerDnsName']}</span><span style=\"color: rgb(251,160,38)\"> is already Isolated. Exiting.</span></p>",
                                                                    "recipient": {
                                                                        "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                                                        "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                                                    }
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "referenceName": "teams"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "Actions_-_Isolate_machine_3": {
                                                                "inputs": {
                                                                    "body": {
                                                                        "Comment": "Automation - On Demand Isolation with Teams Adaptive Card - Initiated By @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}",
                                                                        "IsolationType": "Full"
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "referenceName": "wdatp"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                                                                },
                                                                "runAfter": {},
                                                                "type": "ApiConnection"
                                                            },
                                                            "Post_message_in_a_chat_or_channel_5": {
                                                                "inputs": {
                                                                    "body": {
                                                                        "messageBody": "<p>On Demand Isolation - <span style=\"color: rgb(65,168,95)\">Successful</span><br>\nIsolated Device: @{body('Machines_-_Get_single_machine')?['computerDnsName']}<br>\nInitiated By: @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}</p>",
                                                                        "recipient": {
                                                                            "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                                                            "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                                                        }
                                                                    },
                                                                    "host": {
                                                                        "connection": {
                                                                            "referenceName": "teams"
                                                                        }
                                                                    },
                                                                    "method": "post",
                                                                    "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                                                },
                                                                "runAfter": {
                                                                    "Actions_-_Isolate_machine_3": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "ApiConnection"
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each_2')?['type']",
                                                                    "Isolate"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {},
                                                    "type": "If"
                                                }
                                            },
                                            "foreach": "@body('Actions_-_Get_list_of_machine_actions')?['value']",
                                            "runAfter": {},
                                            "type": "Foreach"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@empty(body('Actions_-_Get_list_of_machine_actions')?['value'])",
                                                "@true"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Actions_-_Get_list_of_machine_actions": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "Post_message_in_a_chat_or_channel_4": {
                                "inputs": {
                                    "body": {
                                        "messageBody": "<p><span style=\"color: rgb(226,80,65)\">Unable to Get Device Info for Device: </span><span style=\"color: rgb(226,80,65)\">@{body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput']}</span><span style=\"color: rgb(226,80,65)\">. Isolation Discarded</span></p>",
                                        "recipient": {
                                            "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                            "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                        }
                                    },
                                    "host": {
                                        "connection": {
                                            "referenceName": "teams"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}"
                                },
                                "runAfter": {
                                    "Scope": [
                                        "TimedOut",
                                        "Skipped",
                                        "Failed"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Scope": {
                                "actions": {
                                    "Machines_-_Get_single_machine": {
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "wdatp"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/api/machines/@{encodeURIComponent(body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput'])}"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "runAfter": {},
                                "type": "Scope"
                            }
                        },
                        "else": {
                            "actions": {
                                "Post_message_in_a_chat_or_channel_3": {
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<p><span style=\"color: rgb(226,80,65)\">No Device Input. Exiting.</span></p>",
                                            "recipient": {
                                                "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                                "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "referenceName": "teams"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput']",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "else": {
                    "actions": {
                        "Post_message_in_a_chat_or_channel": {
                            "inputs": {
                                "body": {
                                    "messageBody": "<p><span style=\"color: rgb(226,80,65)\">Isolation Discarded. Exiting.</span></p>",
                                    "recipient": {
                                        "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                        "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "referenceName": "teams"
                                    }
                                },
                                "method": "post",
                                "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('Post_adaptive_card_and_wait_for_a_response')['submitActionId']",
                                "ecSumitIsolation"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Post_adaptive_card_and_wait_for_a_response": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Post_adaptive_card_and_wait_for_a_response": {
                "inputs": {
                    "body": {
                        "body": {
                            "messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"body\": [\n        {\n            \"size\": \"Large\",\n            \"text\": \"Isolate Device on demand with MDE\",\n            \"type\": \"TextBlock\",\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"Image\",\n            \"url\": \"https://stasecbotprodwe001.blob.core.windows.net/images/TeamsAdaptiveActionIsolate.png\"\n        },\n        {\n            \"size\": \"Large\",\n            \"spacing\": \"Large\",\n            \"type\": \"TextBlock\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Device to isolate\"\n        },\n        {\n            \"type\": \"Input.Text\",\n            \"placeholder\": \"host to isolate\",\n            \"id\": \"ecIsolateDeviceInput\"\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Submit Isolation\",\n                    \"id\": \"ecSumitIsolation\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Discard Isolation\",\n                    \"style\": \"destructive\",\n                    \"id\": \"ecDiscardIsolation\"\n                }\n            ]\n        }\n    ],\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\"\n}",
                            "recipient": {
                                "channelId": "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2",
                                "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea"
                            },
                            "updateMessage": "Processing request."
                        },
                        "notificationUrl": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "teams"
                        }
                    },
                    "path": "/v1.0/teams/conversation/gatherinput/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}/$subscriptions"
                },
                "runAfter": {},
                "type": "ApiConnectionWebhook"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_keywords_are_mentioned": {
                "inputs": {
                    "body": {
                        "channels": [
                            "19:93001e83ae4d4b82b66cf47e3dc3beae@thread.tacv2"
                        ],
                        "groupId": "f5f16728-02a1-4e3e-9e60-46d1f92f3aea",
                        "notificationUrl": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "teams"
                        }
                    },
                    "path": "/beta/subscriptions/keywordtrigger/threadType/@{encodeURIComponent('channel')}",
                    "queries": {
                        "$search": "MDEIsolate"
                    }
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "kind": "Stateful"
}